*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

html{
    background-color: rgb(28, 27, 27);
    color: whitesmoke;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

form{
    height: fit-content;
    border: 2px double white;
    padding: 2rem;
    background-color: rgba(165, 42, 42, 0.77);
}

button{
    border: none;
    padding: 0.3rem;
    margin-left: 50%;
    border-radius: 10PX;
}

button:active{
    scale: 0.9;
}

#desc{
    color: black;
}