.content-box{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 300px;
    justify-content: center;
    align-items:center ;
    background-color: rgb(227, 246, 131);
    border-radius: 20px;
    margin-top: 40px;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn > button{
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 20px;
    padding: 0.5rem;
    border: none;
    background-color: burlywood;
}
button:active{
    scale: 0.9;
}
