*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

html{
    background-color: rgb(28, 27, 27);
    color: whitesmoke;
}


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    height: fit-content;
    margin-top: 20px;
    border: 2px dotted rgb(225, 255, 0);
    background-color: rgb(120, 151, 231);
    padding: 2rem;
    border-radius: 20px;
    color: black;
}

button{
    margin-top: 5px;
    padding: 0.3rem;
    border-radius: 5px;
    border: none;
    transform: all 0.3s ease-in;
    float: right;
    
}

button:active{
    scale: 0.9;
}